<div class="container">
  <div class="row justify-content-center align-items-center text-center">
    <h1 class="h1 col-12"><b>Cont</b>acto</h1>
    <footer class="col-12 d-flex flex-column flex-md-row justify-content-center align-items-center">
      <ul class="nav d-flex flex-column flex-md-row justify-content-center align-items-center list-unstyled">
        <li class="ms-3 py-3">
          <a
            class="text-body-secondary text-decoration-none d-flex align-items-center"
            href="https://github.com/TobiasMoreno"
            target="_blank"
          >
            <i class="bi bi-github me-2"></i> Github
          </a>
        </li>
        <li class="ms-3 py-3">
          <a
            class="text-body-secondary text-decoration-none d-flex align-items-center"
            href="https://www.linkedin.com/in/tobiasmoreno/"
            target="_blank"
          >
            <i class="bi bi-linkedin me-2"></i> Linkedin
          </a>
        </li>
        <li class="ms-3 py-3">
          <a
            class="text-body-secondary text-decoration-none d-flex align-items-center"
            href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=tobiasmoreno.tm.21@gmail.com&amp;su=Asunto%20del%20email&amp;body=Cuerpo%20del%20email"
            target="_blank"
          >
            <i class="bi bi-envelope me-2"></i>
            tobiasmoreno.tm.21&#64;gmail.com
          </a>
        </li>
        
      </ul>
    </footer>
  </div>
  <div class="text-center border-top mt-3">
    <span class="mb-3 mb-md-0 text-body-secondary"
      >© 2024 Moreno Tobias, Desarrollador Web</span
    >
  </div>
</div>
