<div class="container">
  <h1 class="h1 text-center"><b>Cont</b>acto</h1>
  <footer class="d-flex justify-content-center border-bottom">
    <ul class="nav col-md-4 d-flex flex-column">
      <li class="ms-3 justify-content-center d-flex">
        <a
          class="text-body-secondary"
          href="https://github.com/TobiasMoreno"
          target="_blank"
        >
          <i class="bi bi-github"></i>
        </a>
      </li>
      <li class="ms-3 justify-content-center d-flex">
        <a
          class="text-body-secondary"
          href="https://www.linkedin.com/in/tobiasmoreno/"
          target="_blank"
        >
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
      <li class="ms-3 justify-content-center d-flex">
        <a
          class="text-body-secondary"
          href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=tobiasmoreno.tm.21@gmail.com&amp;su=Asunto%20del%20email&amp;body=Cuerpo%20del%20email"
          target="_blank"
        >
          <i class="bi bi-envelope"></i>
        </a>
      </li>
    </ul>
  </footer>
  <div class="col text-center">
    <span class="mb-3 mb-md-0 text-body-secondary"
      >© 2024 Moreno Tobias, Desarrollador Web</span
    >
  </div>
</div>
