nav,
.offcanvas {
  background-color: #1e293b;
}

a:hover {
  cursor: pointer;
}
nav {
  background-color: #d9d9d9d5;
}
a {
  font-size: 20px;
}
.hide-on-mobile {
  display: block;
}
.navbar {
  border-radius: 32px;
  background-color: #ffffff;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 8px 64px;
  width: 70%;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 5px #ffffff;
}

/* Media Queries*/
@media (max-width: 1024px) {
  .hide-on-mobile {
    display: none;
  }
}
