<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid m-2">
  <a class="navbar-brand" href="#">Proyectos</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-around"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a
        class="nav-item nav-link active"
        href="https://github.com/TobiasMoreno"
        target="_blank"
      >
        <i class="bi bi-github fs-3 px-2 text-white fs-2"> Github</i></a
      >
      <a
        class="nav-item nav-link"
        href="https://www.linkedin.com/in/tobiasmoreno/"
        target="_blank"
      >
        <i class="bi bi-linkedin fs-3 px-2 text-white fs-2"> Linkedin</i></a
      >
      <a
        class="nav-item nav-link"
        href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=tobiasmoreno.tm.21@gmail.com&amp;su=Asunto%20del%20email&amp;body=Cuerpo%20del%20email"
        target="_blank"
      >
        <i class="bi bi-envelope fs-3 px-2 text-white fs-2"> Gmail</i></a
      >
    </div>
  </div>
</nav>
