<nav
  class="navbar navbar-expand-lg container-fluid my-2 fixed-top navbar-light"
>
  <a class="navbar-brand text-dark hide-on-mobile " href="#inicio"
    >Moreno Tobias</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <div class="navbar-nav text-dark gradient-text">
      <a class="nav-item nav-link text-dark" href="#inicio">Inicio</a>
      <a class="nav-item nav-link text-dark text-nowrap" href="#recorrido">Mi Recorrido</a>
      <a class="nav-item nav-link text-dark text-nowrap" href="#sobre-mi"> Sobre Mi</a>
      <a class="nav-item nav-link text-dark" href="#proyectos"> Proyectos</a>
      <a class="nav-item nav-link text-dark" href="#contacto"> Contacto</a>
    </div>
  </div>
</nav>
