<nav
  class="navbar navbar-expand-lg navbar-dark text-dark container-fluid my-2 fixed-top border rounded-3 w-50"
>
  <a class="navbar-brand text-dark hide-on-mobile" href="#inicio">Moreno Tobias</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-center"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav text-dark">
      <a class="nav-item nav-link text-dark" href="#inicio">Inicio</a>
      <a class="nav-item nav-link text-dark" href="#sobre-mi"> Sobre Mi</a>
      <a class="nav-item nav-link text-dark" href="#proyectos"> Proyectos</a>
      <a class="nav-item nav-link text-dark" href="#contacto"> Contacto</a>
    </div>
  </div>
</nav>
