<div class="container">
  <section class="container" id="sobre-mi">
    <h1 class="text-center gradient-text">Sobre Mi</h1>
    <p>
      Soy un desarrollador en crecimiento, apasionado por el aprendizaje
      continuo y la aplicación de nuevas tecnologías. Tengo experiencia
      trabajando con <b>TypeScript</b> y <b>Angular</b> en el frontend, y
      <b>Java</b> con <b>Spring Boot</b> en el backend, desarrollando proyectos
      personales que me han permitido implementar patrones de diseño y diseño
      responsive. También manejo <b>SQL</b>
      para optimizar bases de datos relacionales y mejorar el rendimiento de las
      aplicaciones.
    </p>

    <p>
      Utilizo <b>Git</b> para el control de versiones y despliego mis
      aplicaciones en <b>Netlify</b>, lo que me ha brindado experiencia en la
      gestión de proyectos de principio a fin. Actualmente, estoy profundizando
      en <b>Docker</b> para el manejo de contenedores y en metodologías ágiles
      para optimizar el trabajo en equipo y la entrega continua de software.
    </p>
  </section>
  <h1 class="text-center gradient-text" id="habilidades">Habilidades</h1>
  <div class="d-flex justify-content-center flex-wrap">
    <span class="badge bg-info m-2">SQL</span>
    <span class="badge bg-gradient m-2">Angular</span>
    <span class="badge bg-primary m-2">TypeScript</span>
    <span class="badge bg-warning text-dark m-2">Java</span>
    <span class="badge bg-success  m-2">Spring Boot</span>
  </div>
</div>
