<app-header/>
<app-inicio/>
<app-project-list/>
<app-sobre-mi/>
<app-recorrido/>
<app-form-contactanos/>
<app-footer/>
<app-ai-sidebar/>
<a
  (click)="redirect()"
  target="_blank"
  class="whatsapp-float"
  target="_blank"
  data-bs-toggle="tooltip"
  data-bs-placement="left"
  title="¡Hola! Estoy muy interesado en oportunidades de desarrollo de software. Si te gustaría discutir mi perfil, no dudes en escribirme por WhatsApp. ¡Espero tu mensaje!"
  rel="noopener noreferrer"
>
  <span class="chaty-icon channel-icon-Whatsapp">
    <span class="chaty-svg">
      <img src="assets/data/float-wsp.svg" alt="Whatsapp" class="w-full h-full">
    </span>
  </span>
</a>
<router-outlet />