<h1 class="text-center gradient-text-reverse mt-5" id="recorrido">Mi Recorrido</h1>
<div class="timeline">
  <div class="timeline-item">
    <div class="icon"><img src="assets/img/sql.png" alt="SQL" /></div>
    <div class="content">
      <h5 class="text-center">SQL</h5>
      <p>
        En el año 2023 arranqué a estudiar programación, mi primer contacto fue
        con SQL llegando a afianzar contenidos básicos.
      </p>
    </div>
  </div>
  <div class="timeline-item">
    <div class="icon"><img src="assets/img/csharp.png" alt="C#" /></div>
    <div class="content">
      <h5 class="text-center">C#</h5>
      <p>
        Durante el mismo año, comencé a estudiar POO junto a C#, haciendo la
        primera inmersión en este mundo.
      </p>
      <p>
        En el trayecto de 6 meses pude sentar las bases de la POO y sus
        caracteristicas ( Abstracción, Polimorfismo, Acomplamiento y
        Encapsulamiento).
      </p>
    </div>
  </div>
  <div class="timeline-item">
    <div class="icon"><img src="assets/img/java.png" alt="Java" /></div>
    <div class="content">
      <h5 class="text-center">Java</h5>
      <p>
        Luego de haber sentado las bases con C#, decidí expandir mis
        conocimientos a Java. Durante 6 meses, me sumergí en su sintaxis y sus
        paradigmas, aplicando los conceptos de POO y realizando varios proyectos
        de práctica.
      </p>
    </div>
  </div>
  <div class="timeline-item">
    <div class="icon"><img src="assets/img/spring.png" alt="SpringBoot" /></div>
    <div class="content">
      <h5 class="text-center">SpringBoot</h5>
      <p>
        Posteriormente, di el salto a frameworks más complejos y fue aquí donde
        conocí Spring Boot. A lo largo de este tiempo, he trabajado en crear
        aplicaciones con arquitecturas más sólidas y a integrar bases de datos
        de forma efectiva.
      </p>
    </div>
  </div>
  <div class="timeline-item">
    <div class="icon"><img src="assets/img/web.png" alt="DesarrolloWeb" /></div>
    <div class="content">
      <h5 class="text-center">Desarrollo Web</h5>
      <p>
        En el verano del 2023 tuve mi primer contacto con HTML, CSS y JS en el
        que se pueden apreciar mis proyectos básicos para el entendimiento del
        desarrollo web.
      </p>
    </div>
  </div>
  <div class="timeline-item">
    <div class="icon"><img src="favicon.ico" alt="Angular" /></div>
    <div class="content">
      <h5 class="text-center">Angular</h5>
      <p>
        A principios del 2024, me adentré en el mundo de Angular, aplicando todo
        el conocimiento previo para crear aplicaciones web dinámicas y
        eficientes, explorando el uso de componentes, servicios y la conexión
        con APIs.
      </p>
      <p>
        En la segunda mitad del año, pude enfocarme al 100% adentrandome en
        Angular 18 desde cero.
      </p>
    </div>
  </div>
  <div class="timeline-item">
    <div class="icon"><img src="assets/img/netlify.png" alt="Netlify" /></div>
    <div class="content">
      <h5 class="text-center">Netlify</h5>
      <p>
        Para finalizar mis proyectos, aprendí a desplegarlos en servicios como
        Netlify, logrando que mis aplicaciones sean accesibles de forma remota y
        perfeccionando habilidades en DevOps.
      </p>
    </div>
  </div>
  <!-- Continúa agregando más elementos de la línea de tiempo -->
</div>
