b,
span {
  color: #96085b;
}
:root {
  scroll-behavior:smooth;
}
h1{
  padding-top: 65px;
}
.demo-wrap {
  position: relative;
}

.demo-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-image: url("../public/assets/img/bg-image.png");
  background-position: 50% 0;
}

.demo-content {
  position: relative;
}