.project-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(151, 156, 224, 0.2);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.btn-custom {
  background: linear-gradient(to right, #5816ff, #cf1512);
  border: none;
  background-size: 200% 100%;
  transition: background-position 0.3s ease, transform 0.3s ease;
}

.btn-custom:hover {
  background-position: right;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), inset 0 0 4px #cf1512;
  text-shadow: 0 0 5px #fff, 0 0 10px #cf1512; /*Este no me convence tanto*/
}
