<div class="row text-dark">
  @for(project of projects.state().projects; track project) {
  <div class="col-md-6 col-lg-4 d-flex justify-content-center">
    <div class="card m-3" style="width: 18rem;">
      <img
        src="{{ project.image }}"
        class="card-img-top object-fit w-100 h-100"
        alt="{{ project.title }}"
      />
      <div class="card-body">
        <h5 class="card-title text-center">{{ project.title }}</h5>
        <p class="card-text text-center">
          {{ project.description }}
        </p>
        <div class="d-flex justify-content-center gap-2 m-2">
          <a href="{{ project.path }}" target="_blank" class="btn btn-primary">
            <i class="bi bi-link-45deg"></i>   Página
          </a>
          <a href="{{ project.github }}" target="_blank" class="btn btn-dark"
            ><i class="bi bi-github"></i>
            GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
  }
</div>
