.card-img-top,
.btn {
  transition: transform 0.3s ease;
}

.card-img-top:hover,
.btn:hover {
  transform: scale(1.05);
}
.card {
  border-color: black;
  padding: 15px;
}
.btn-custom {
  background-color: #96085b;
}
.btn:focus {
  outline: none;
  color: #fff;
  box-shadow: 0 0 5px #ffffff;
}
.gradient-text {
  background: #121fcf;
  background: linear-gradient(to right, #5816ff 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
img:hover{
  cursor: pointer;
}