<h1 class="text-center gradient-text-reverse" id="proyectos">Proyectos</h1>

<div class="row text-dark">
  @for(project of projects.state().projects; track project) {
  <div class="col-md-6 col-lg-4 d-flex justify-content-center">
    <div class="card m-3 project-card py-3" style="width: 300px;">

      <!-- Contenedor de imagen con posición relativa -->
      <div class="position-relative">
        <a href="{{ project.path }}" target="_blank">
          <img
            src="{{ project.image }}"
            class="card-img-top"
            alt="{{ project.title }}"
          />
        </a>

        <!-- Etiqueta de desarrollo -->
        @if (project.develop) {
        <span
          class="badge text-white position-absolute"
          style="bottom: 10px; right: 10px;"
        >
          En desarrollo <i class="bi bi-tools"></i>
        </span>
        }

      </div>

      <!-- Contenido de la tarjeta -->
      <div class="card-body">
        <h5 class="card-title text-center gradient-text">
          {{ project.title }}
        </h5>
        <p class="card-text text-center">
          {{ project.description }}
        </p>
      </div>

      <!-- Botones -->
      <div class="d-flex justify-content-center">
        <a
          href="{{ project.path }}"
          target="_blank"
          class="btn btn-custom text-white m-1 py-2"
        >
          <i class="bi bi-link-45deg"></i>
        </a>
        <a href="{{ project.github }}" target="_blank" class="btn m-1 py-2">
          <i class="bi bi-github"></i>
        </a>
      </div>

    </div>
  </div>
  }
</div>
