<div class="container-fluid">
  <section
    class="text-center d-flex flex-column flex-md-row align-items-center justify-content-center section-inicio"
    id="inicio"
  >
    <div class="text-center text-md-start align-content-center">
      <h1 class="display-4 fw-bold gradient-text">Tobias Emiliano Moreno</h1>
      <h2 class="h4 text-muted gradient-text-reverse text-center">
        Desarrollador Web
      </h2>
      <div class="d-flex justify-content-center">
        <button
          (click)="openCV()"
        >
          Abrir CV
        </button>
      </div>
    </div>
  </section>
</div>
