<div class="container-fluid">
  <section
    class="text-center d-flex flex-row align-items-center justify-content-center section-inicio"
  >
    <div class="mx-4">
      <h1 class="display-4 fw-bold">Tobias Emiliano Moreno</h1>
      <h2 class="h4 text-muted">Desarrollador Web</h2>
      <a
        href="https://drive.google.com/file/d/1CVj8CjdPSItd1qcKQpO7Hpu6bb98BKRB/view?usp=sharing"
        target="_blank"
        ><button>Abrir CV</button></a
      >
    </div>
    <picture class="mt-4">
      <img src="assets/img/toro-wine.png" alt="MainImage" class="img-fluid" />
    </picture>
  </section>
</div>
